{{- $IsList := .IsList -}}
{{- $Page := .Page -}}
{{- $isLCP := .IsLCP | default false -}}
<header class="article-header{{ if $IsList }} article-header--list{{ end }}">
    {{- $image := partial "helper/image" (dict "Image" $Page.Params.image "Resources" $Page.Resources "Context" $Page) -}}
    {{ if $image }}
    <div class="article-image">
        <a href="{{ $Page.RelPermalink }}">
            {{- $widths := slice -}}
            {{- $quality := "" -}}
            {{- $format := "" -}}
            {{- $sizes := "" -}}
            {{- if $IsList -}}
                {{- if $Page.Site.Params.ImageProcessing.Thumbnail.Enabled -}}
                    {{- $widths = slice 250 500 -}}
                    {{- $quality = "q50" -}}
                    {{- $format = "webp" -}}
                {{- end -}}
                {{- $sizes = "(max-width: 767px) 180px, 250px" -}}
            {{- else -}}
                {{- if $Page.Site.Params.ImageProcessing.Content.Enabled -}}
                    {{- $widths = $Page.Site.Params.ImageProcessing.Content.Widths -}}
                {{- end -}}
                {{- $sizes = "(max-width: 767px) calc(100vw - 30px), (max-width: 1023px) 700px, (max-width: 1279px) 950px, 1232px" -}}
            {{- end -}}
            {{ partial "helper/responsive-image" (dict
                "Resource" $image.Resource
                "Widths" $widths
                "Quality" $quality
                "Format" $format
                "Attributes" (dict
                    "src" $image.Permalink
                    "width" $image.Width
                    "height" $image.Height
                    "alt" (printf "Featured image of post %s" $Page.Title)
                    "loading" (cond $isLCP "eager" "lazy")
                    "fetchpriority" (cond $isLCP "high" "")
                    "sizes" $sizes
                )
            ) }}
        </a>
    </div>
    {{ end }}
    <div class="article-header-right">
        {{ partial "article/components/details" (dict "Page" $Page "IsList" $IsList) }}
    </div>
</header>
